In [75]:
import pandas as pd
#pip install pandas openpyxl (para leer excels)
import numpy as np
import folium

In [76]:
pd.set_option('display.max_columns', None)

**Data preprocessing**

We are going to concatenate our files so we can work better with them.

We are going to process the data before the EDA.

In [77]:
C6H6_HH_22 = pd.read_csv('../data/raw/time data 2022/C6H6_HH_2022.csv', sep = ';')
CO_HH_22 = pd.read_csv('../data/raw/time data 2022/CO_HH_2022.csv', sep= ';')
NO2_HH_22 = pd.read_csv('../data/raw/time data 2022/NO2_HH_2022.csv', sep = ';')
NOx_HH_22 = pd.read_csv('../data/raw/time data 2022/NOx_HH_2022.csv', sep = ';')
O3_HH_22 = pd.read_csv('../data/raw/time data 2022/O3_HH_2022.csv', sep = ';')
PM10_HH_22 = pd.read_csv('../data/raw/time data 2022/PM10_HH_2022.csv', sep = ';')
PM25_HH_22 = pd.read_csv('../data/raw/time data 2022/PM25_HH_2022.csv', sep = ';')
SO2_HH_22 = pd.read_csv('../data/raw/time data 2022/SO2_HH_2022.csv', sep = ';')

In [78]:
pollutants = pd.concat([C6H6_HH_22, CO_HH_22, NO2_HH_22, NOx_HH_22, O3_HH_22, PM10_HH_22, PM25_HH_22, SO2_HH_22])
print(pollutants.shape)

(819614, 32)

In [79]:
pollutants.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANNO,MES,DIA,H01,H02,H03,H04,H05,H06,H07,H08,H09,H10,H11,H12,H13,H14,H15,H16,H17,H18,H19,H20,H21,H22,H23,H24
0,1,59,8,30,01059008_30_59,2022,1,1,1.58,0.73,0.55,0.68,0.65,0.72,0.56,0.59,0.56,0.84,0.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,59,8,30,01059008_30_59,2022,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.24,0.23,0.22,0.23,0.58,0.24,0.54,0.69,0.32,0.17,0.17
2,1,59,8,30,01059008_30_59,2022,1,4,0.16,0.16,0.18,0.18,0.14,0.15,0.22,0.18,0.16,0.18,0.18,0.13,0.17,0.11,0.17,0.18,0.19,0.25,0.25,0.28,0.25,0.20,0.20,0.22
3,1,59,8,30,01059008_30_59,2022,1,5,0.23,0.26,0.22,0.20,0.21,0.23,0.28,0.31,0.34,0.40,0.35,0.29,0.27,0.30,0.48,0.33,0.45,0.58,0.57,0.51,0.51,0.51,0.48,0.41
4,1,59,8,30,01059008_30_59,2022,1,6,0.36,0.31,0.32,0.33,0.32,0.33,0.33,0.37,0.54,0.45,0.37,0.32,0.30,0.28,0.30,0.26,0.29,0.36,0.43,0.32,0.32,0.30,0.30,0.28

In [80]:
pollutants.to_csv('../data/processed/pollutants.csv', index= False)
pollutants = pd.read_csv('../data/processed/pollutants.csv')

In [81]:
total_nan = pollutants.isna().sum().sum()
total_nan

367595

In [82]:
data_nan = pollutants.isna().any(axis= 1)

In [83]:
measured_excel = pd.read_excel('../data/interim/Metainformacion2022.xlsx', sheet_name= 'Magnitudes')
measured_excel.head()

,MAGNITUD,NOMBRE,ABREVIATURA,UNIDAD,GRUPO
0,1,DIÓXIDO DE AZUFRE,SO2,µg/m3,Contaminantes con valor legislado
1,6,MONÓXIDO DE CARBONO,CO,mg/m3,Contaminantes con valor legislado
2,7,MONÓXIDO DE NITRÓGENO,NO,µg/m3,NaN
3,8,DIÓXIDO DE NITRÓGENO,NO2,µg/m3,Contaminantes con valor legislado
4,9,"PARTÍCULAS EN SUSPENSIÓN <2,5µM",PM2.5,µg/m3,Contaminantes con valor legislado

In [84]:
# Leer una hoja específica del archivo Excel
stations_excel= pd.read_excel('../data/interim/Metainformacion2022.xlsx', sheet_name='Estaciones')
stations_excel.head(3)

,COD_LOCAL,PROVINCIA,MUNICIPIO,ESTACION,COD_ESTACION_DEM,N_RED,NOMBRE,FECHA_INI,FECHA_FIN,LATITUD_G,LONGITUD_G,ALTITUD,N_CCAA,N_PROVINCIA,N_MUNICIPIO,TIPO_ESTACION,TIPO_AREA,TIPO_SUBAREA_RURAL,EST,ZONA,DIRECCION
0,1022001,1,22,1,ES1672A,CCAA País Vasco,EL CIEGO,2004-05-10,NaT,42.51833,-2.61944,480,PAÍS VASCO,ÁLAVA,ELCIEGO,TRAFICO,SUBURBANA,NaN,ST,RESIDENCIAL,"C/GABRIEL CELAYA 8, ELCIEGO"
1,1036004,1,36,4,ES1349A,CCAA País Vasco,LLODIO,1994-01-01,NaT,43.14407,-2.96337,122,PAÍS VASCO,ÁLAVA,LLODIO,TRAFICO,SUBURBANA,NaN,ST,RESIDENCIAL/COMERCIAL,"C/ LAMUZA, S/N"
2,1051001,1,51,1,ES1544A,CCAA País Vasco,AGURAIN,1998-01-01,NaT,42.84900,-2.39370,594,PAÍS VASCO,ÁLAVA,SALVATIERRA O AGURAIN,FONDO,SUBURBANA,NaN,SF,RESIDENCIAL/INDUSTRIAL,CUARTEL DE LA ERTZANTZA

In [85]:
columnas_a_modificar = ['LATITUD_G', 'LONGITUD_G']

for columna in columnas_a_modificar:
    # Asegurarse de que todos los valores no-NaN sean strings
    # y aplicar la operación de reemplazo
    stations_excel[columna] = stations_excel[columna].apply(lambda x: str(x).replace(',', '.') if pd.notnull(x) else x)

# Después de asegurarse de que todos los valores son strings y de reemplazar las comas
# Convertimos toda la columna a float
for columna in columnas_a_modificar:
    stations_excel[columna] = stations_excel[columna].astype(float)

stations_excel.head()

,COD_LOCAL,PROVINCIA,MUNICIPIO,ESTACION,COD_ESTACION_DEM,N_RED,NOMBRE,FECHA_INI,FECHA_FIN,LATITUD_G,LONGITUD_G,ALTITUD,N_CCAA,N_PROVINCIA,N_MUNICIPIO,TIPO_ESTACION,TIPO_AREA,TIPO_SUBAREA_RURAL,EST,ZONA,DIRECCION
0,1022001,1,22,1,ES1672A,CCAA País Vasco,EL CIEGO,2004-05-10,NaT,42.51833,-2.61944,480,PAÍS VASCO,ÁLAVA,ELCIEGO,TRAFICO,SUBURBANA,NaN,ST,RESIDENCIAL,"C/GABRIEL CELAYA 8, ELCIEGO"
1,1036004,1,36,4,ES1349A,CCAA País Vasco,LLODIO,1994-01-01,NaT,43.14407,-2.96337,122,PAÍS VASCO,ÁLAVA,LLODIO,TRAFICO,SUBURBANA,NaN,ST,RESIDENCIAL/COMERCIAL,"C/ LAMUZA, S/N"
2,1051001,1,51,1,ES1544A,CCAA País Vasco,AGURAIN,1998-01-01,NaT,42.84900,-2.39370,594,PAÍS VASCO,ÁLAVA,SALVATIERRA O AGURAIN,FONDO,SUBURBANA,NaN,SF,RESIDENCIAL/INDUSTRIAL,CUARTEL DE LA ERTZANTZA
3,1055001,1,55,1,ES1489A,CCAA País Vasco,VALDEREJO,1998-01-01,NaT,42.87520,-3.23170,911,PAÍS VASCO,ÁLAVA,VALDEGOVÍA,FONDO,RURAL,REMOTA,RFREM,NATURALEZA,PARQUE NATURAL DE VALDEREJO
4,1059008,1,59,8,ES1502A,CCAA País Vasco,AVENIDA GASTEIZ,1998-01-01,NaT,42.85480,-2.68070,517,PAÍS VASCO,ÁLAVA,VITORIA-GASTEIZ,TRAFICO,URBANA,NaN,UT,RESIDENCIAL/COMERCIAL,"AVDA. GASTEIZ, 93"

In [ ]:
# Crear un mapa base
m = folium.Map(location=[stations_excel['LATITUD_G'].mean(), stations_excel['LONGITUD_G'].mean()], zoom_start=6)

# Añadir puntos al mapa
for idx, row in stations_excel.iterrows():
    folium.Marker(location=[row['LATITUD_G'], row['LONGITUD_G']],
                  popup=row['N_MUNICIPIO'] if 'NombrePunto' in stations_excel.columns else "Sin Nombre").add_to(m)

# Guardar el mapa en un archivo HTML
m.save('mapa.html')
#Aqui no se ve nada, creo que hay qeu hacerlo en un navegador normal

In [86]:
# pollutants_clean = pollutants.dropna()
# pollutants_clean


#pollution_madrid[pollution_madrid['fecha'] == 2023]


# pollution_madrid['fecha'] = pd.to_datetime(pollution_madrid['fecha'], format='mixed')
# pollution_madrid.head()


# fecha_inicio = pd.to_datetime('23-01-01', format='%y-%m-%d')
# fecha_fin = pd.to_datetime('23-12-31', format='%y-%m-%d')
# df_filtrado = pollution_madrid[(pollution_madrid['fecha'] >= fecha_inicio) & (pollution_madrid['fecha'] <= fecha_fin)]


# columnas_a_modificar = ['h01', 'h02', 'h03', 'h04', 'h05', 'h06', 'h07', 'h08', 'h09', 'h10', 'h11', 'h12', 'h13', 'h14', 'h15', 'h16', 'h17', 'h18', 'h19', 'h20', 'h21', 'h22', 'h23', 'h24']
# for columna in columnas_a_modificar:
#     pollution_madrid[columna] = pollution_madrid[columna].str.replace(',', '.').astype(float)

# total_null = pollution_madrid.isnull().sum().sum()


# for file, df in files_csv.items():
#     total_nan = df.isna().sum().sum()
#     print(f'{file}: {total_nan} NaNs')
# all_nan_rows = df[df.isna().all(axis=1)]

#Para filtrar por filas con todos sus valores NaN:
# rows_nan = 0

# for index, row in pollutants[data_nan].iterrows():
#     value_nan = row.isna().sum()
#     rows_nan += 1
#     print(f'row{index} have {value_nan} NaN value')

# print(f'Total rows with ')


# columnas_a_modificar = ['LATITUD_G', 'LONGITUD_G']

# for columna in columnas_a_modificar:
#     # Aplicar la operación solo a los elementos de tipo string
#     condicion = stations_excel[columna].apply(lambda x: isinstance(x, str))
#     stations_excel.loc[condicion, columna] = stations_excel.loc[condicion, columna].str.replace(',', '.').astype(float)

# columnas_a_modificar = ['LATITUD_G', 'LONGITUD_G']
# for columna in columnas_a_modificar:
#     stations_excel[columna] = stations_excel[columna].str.replace(',', '.').astype(float)