In [28]:
import pandas as pd
#pip install pandas openpyxl (para leer excels)
import numpy as np
import folium

In [29]:
pd.set_option('display.max_columns', None)

**Data preprocessing**

We are going to concatenate our files so we can work better with them and process the data before the EDA.

In [30]:
C6H6_HH_22 = pd.read_csv('../data/raw/time data 2022/C6H6_HH_2022.csv', sep = ';')
CO_HH_22 = pd.read_csv('../data/raw/time data 2022/CO_HH_2022.csv', sep= ';')
NO2_HH_22 = pd.read_csv('../data/raw/time data 2022/NO2_HH_2022.csv', sep = ';')
NOx_HH_22 = pd.read_csv('../data/raw/time data 2022/NOx_HH_2022.csv', sep = ';')
O3_HH_22 = pd.read_csv('../data/raw/time data 2022/O3_HH_2022.csv', sep = ';')
PM10_HH_22 = pd.read_csv('../data/raw/time data 2022/PM10_HH_2022.csv', sep = ';')
PM25_HH_22 = pd.read_csv('../data/raw/time data 2022/PM25_HH_2022.csv', sep = ';')
SO2_HH_22 = pd.read_csv('../data/raw/time data 2022/SO2_HH_2022.csv', sep = ';')

In [31]:
pollutants = pd.concat([C6H6_HH_22, CO_HH_22, NO2_HH_22, NOx_HH_22, O3_HH_22, PM10_HH_22, PM25_HH_22, SO2_HH_22])
print(pollutants.shape)

(819614, 32)

In [32]:
pollutants.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANNO,MES,DIA,H01,H02,H03,H04,H05,H06,H07,H08,H09,H10,H11,H12,H13,H14,H15,H16,H17,H18,H19,H20,H21,H22,H23,H24
0,1,59,8,30,01059008_30_59,2022,1,1,1.58,0.73,0.55,0.68,0.65,0.72,0.56,0.59,0.56,0.84,0.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,59,8,30,01059008_30_59,2022,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.24,0.23,0.22,0.23,0.58,0.24,0.54,0.69,0.32,0.17,0.17
2,1,59,8,30,01059008_30_59,2022,1,4,0.16,0.16,0.18,0.18,0.14,0.15,0.22,0.18,0.16,0.18,0.18,0.13,0.17,0.11,0.17,0.18,0.19,0.25,0.25,0.28,0.25,0.20,0.20,0.22
3,1,59,8,30,01059008_30_59,2022,1,5,0.23,0.26,0.22,0.20,0.21,0.23,0.28,0.31,0.34,0.40,0.35,0.29,0.27,0.30,0.48,0.33,0.45,0.58,0.57,0.51,0.51,0.51,0.48,0.41
4,1,59,8,30,01059008_30_59,2022,1,6,0.36,0.31,0.32,0.33,0.32,0.33,0.33,0.37,0.54,0.45,0.37,0.32,0.30,0.28,0.30,0.26,0.29,0.36,0.43,0.32,0.32,0.30,0.30,0.28

In [33]:
pollutants.to_csv('../data/processed/pollutants.csv', index= False)
pollutants = pd.read_csv('../data/processed/pollutants.csv')

In [34]:
total_nan = pollutants.isna().sum().sum()
total_nan

367595

In [35]:
# Contabilizar el número de filas que contienen valores NaN creando un índice

count_nans = {}

for index, row in pollutants.iterrows():
    nans = row.isna().sum()

    if nans in count_nans:
        count_nans[nans] += 1
    else:
        count_nans[nans] =1

count_nans

{13: 1119,
 0: 719282,
 2: 23903,
 14: 975,
 12: 1369,
 1: 36403,
 3: 12238,
 9: 1546,
 7: 1878,
 6: 2403,
 8: 1659,
 11: 1466,
 22: 427,
 10: 1519,
 21: 179,
 15: 854,
 5: 3541,
 16: 701,
 4: 6208,
 17: 658,
 18: 524,
 19: 286,
 20: 245,
 23: 231}

In [36]:
pollutants = pollutants.dropna()
pollutants.shape

(719282, 32)

In [37]:
pollutants.drop(['PUNTO_MUESTREO'], axis=1, inplace= True)

In [38]:
pollutants.shape

(719282, 31)

In [39]:
# Crear una columna 'fecha' con el año, mes y día
pollutants['FECHA'] = pd.to_datetime(pollutants[['ANNO', 'MES', 'DIA']].astype(str).agg('-'.join, axis= 1), errors='coerce', format='%Y-%m-%d')
pollutants.drop(['ANNO', 'MES', 'DIA'], axis= 1, inplace= True)

In [40]:
pollutants.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,H01,H02,H03,H04,H05,H06,H07,H08,H09,H10,H11,H12,H13,H14,H15,H16,H17,H18,H19,H20,H21,H22,H23,H24,FECHA
2,1,59,8,30,0.16,0.16,0.18,0.18,0.14,0.15,0.22,0.18,0.16,0.18,0.18,0.13,0.17,0.11,0.17,0.18,0.19,0.25,0.25,0.28,0.25,0.20,0.20,0.22,2022-01-04
3,1,59,8,30,0.23,0.26,0.22,0.20,0.21,0.23,0.28,0.31,0.34,0.40,0.35,0.29,0.27,0.30,0.48,0.33,0.45,0.58,0.57,0.51,0.51,0.51,0.48,0.41,2022-01-05
4,1,59,8,30,0.36,0.31,0.32,0.33,0.32,0.33,0.33,0.37,0.54,0.45,0.37,0.32,0.30,0.28,0.30,0.26,0.29,0.36,0.43,0.32,0.32,0.30,0.30,0.28,2022-01-06
5,1,59,8,30,0.25,0.24,0.25,0.26,0.32,0.32,0.28,0.25,0.30,0.27,0.30,0.39,0.28,0.23,0.28,0.29,0.28,0.32,0.31,0.23,0.25,0.29,0.29,0.28,2022-01-07
6,1,59,8,30,0.25,0.25,0.23,0.23,0.32,0.29,0.23,0.28,0.55,0.34,0.36,0.28,0.27,0.27,0.25,0.20,0.23,0.25,0.25,0.23,0.20,0.22,0.22,0.19,2022-01-08

In [41]:
measured_excel = pd.read_excel('../data/interim/Metainformacion2022.xlsx', sheet_name= 'Magnitudes')
measured_excel.head()

,MAGNITUD,NOMBRE,ABREVIATURA,UNIDAD,GRUPO
0,1,DIÓXIDO DE AZUFRE,SO2,µg/m3,Contaminantes con valor legislado
1,6,MONÓXIDO DE CARBONO,CO,mg/m3,Contaminantes con valor legislado
2,7,MONÓXIDO DE NITRÓGENO,NO,µg/m3,NaN
3,8,DIÓXIDO DE NITRÓGENO,NO2,µg/m3,Contaminantes con valor legislado
4,9,"PARTÍCULAS EN SUSPENSIÓN <2,5µM",PM2.5,µg/m3,Contaminantes con valor legislado

In [42]:
# Leer una hoja específica del archivo Excel
stations_excel= pd.read_excel('../data/interim/Metainformacion2022.xlsx', sheet_name='Estaciones')
stations_excel.head(3)

,COD_LOCAL,PROVINCIA,MUNICIPIO,ESTACION,COD_ESTACION_DEM,N_RED,NOMBRE,FECHA_INI,FECHA_FIN,LATITUD_G,LONGITUD_G,ALTITUD,N_CCAA,N_PROVINCIA,N_MUNICIPIO,TIPO_ESTACION,TIPO_AREA,TIPO_SUBAREA_RURAL,EST,ZONA,DIRECCION
0,1022001,1,22,1,ES1672A,CCAA País Vasco,EL CIEGO,2004-05-10,NaT,42.51833,-2.61944,480,PAÍS VASCO,ÁLAVA,ELCIEGO,TRAFICO,SUBURBANA,NaN,ST,RESIDENCIAL,"C/GABRIEL CELAYA 8, ELCIEGO"
1,1036004,1,36,4,ES1349A,CCAA País Vasco,LLODIO,1994-01-01,NaT,43.14407,-2.96337,122,PAÍS VASCO,ÁLAVA,LLODIO,TRAFICO,SUBURBANA,NaN,ST,RESIDENCIAL/COMERCIAL,"C/ LAMUZA, S/N"
2,1051001,1,51,1,ES1544A,CCAA País Vasco,AGURAIN,1998-01-01,NaT,42.84900,-2.39370,594,PAÍS VASCO,ÁLAVA,SALVATIERRA O AGURAIN,FONDO,SUBURBANA,NaN,SF,RESIDENCIAL/INDUSTRIAL,CUARTEL DE LA ERTZANTZA

In [43]:
columnas_a_modificar = ['LATITUD_G', 'LONGITUD_G']

for columna in columnas_a_modificar:
    # Asegurarse de que todos los valores no-NaN sean strings
    # y aplicar la operación de reemplazo
    stations_excel[columna] = stations_excel[columna].apply(lambda x: str(x).replace(',', '.') if pd.notnull(x) else x)

# Después de asegurarse de que todos los valores son strings y de reemplazar las comas
# Convertimos toda la columna a float
for columna in columnas_a_modificar:
    stations_excel[columna] = stations_excel[columna].astype(float)

stations_excel.head()

,COD_LOCAL,PROVINCIA,MUNICIPIO,ESTACION,COD_ESTACION_DEM,N_RED,NOMBRE,FECHA_INI,FECHA_FIN,LATITUD_G,LONGITUD_G,ALTITUD,N_CCAA,N_PROVINCIA,N_MUNICIPIO,TIPO_ESTACION,TIPO_AREA,TIPO_SUBAREA_RURAL,EST,ZONA,DIRECCION
0,1022001,1,22,1,ES1672A,CCAA País Vasco,EL CIEGO,2004-05-10,NaT,42.51833,-2.61944,480,PAÍS VASCO,ÁLAVA,ELCIEGO,TRAFICO,SUBURBANA,NaN,ST,RESIDENCIAL,"C/GABRIEL CELAYA 8, ELCIEGO"
1,1036004,1,36,4,ES1349A,CCAA País Vasco,LLODIO,1994-01-01,NaT,43.14407,-2.96337,122,PAÍS VASCO,ÁLAVA,LLODIO,TRAFICO,SUBURBANA,NaN,ST,RESIDENCIAL/COMERCIAL,"C/ LAMUZA, S/N"
2,1051001,1,51,1,ES1544A,CCAA País Vasco,AGURAIN,1998-01-01,NaT,42.84900,-2.39370,594,PAÍS VASCO,ÁLAVA,SALVATIERRA O AGURAIN,FONDO,SUBURBANA,NaN,SF,RESIDENCIAL/INDUSTRIAL,CUARTEL DE LA ERTZANTZA
3,1055001,1,55,1,ES1489A,CCAA País Vasco,VALDEREJO,1998-01-01,NaT,42.87520,-3.23170,911,PAÍS VASCO,ÁLAVA,VALDEGOVÍA,FONDO,RURAL,REMOTA,RFREM,NATURALEZA,PARQUE NATURAL DE VALDEREJO
4,1059008,1,59,8,ES1502A,CCAA País Vasco,AVENIDA GASTEIZ,1998-01-01,NaT,42.85480,-2.68070,517,PAÍS VASCO,ÁLAVA,VITORIA-GASTEIZ,TRAFICO,URBANA,NaN,UT,RESIDENCIAL/COMERCIAL,"AVDA. GASTEIZ, 93"

In [44]:
# Crear un mapa base
m = folium.Map(location=[stations_excel['LATITUD_G'].mean(), stations_excel['LONGITUD_G'].mean()], zoom_start=6)

# Añadir puntos al mapa
for idx, row in stations_excel.iterrows():
    folium.Marker(location=[row['LATITUD_G'], row['LONGITUD_G']],
                  popup=row['N_MUNICIPIO'] if 'NombrePunto' in stations_excel.columns else "Sin Nombre").add_to(m)

# Guardar el mapa en un archivo HTML
m.save('mapa.html')
#Aqui no se ve nada, creo que hay qeu hacerlo en un navegador normal

In [45]:
measured_dict = {}

for index, row in measured_excel.iterrows():
    measured_dict[row['MAGNITUD']] = row['ABREVIATURA']

measured_dict

{1: 'SO2',
 6: 'CO',
 7: 'NO',
 8: 'NO2',
 9: 'PM2.5',
 10: 'PM10',
 12: 'NOX',
 14: 'O3',
 17: 'As',
 19: 'Pb',
 27: 'BAP',
 28: 'Cd',
 30: 'C6H6',
 62: 'NI'}

In [46]:
# Crear diccionario de las magnitudes 
magnitud_dict = {
    1: 'SO2',
    6: 'CO',
    7: 'NO',
    8: 'NO2',
    9: 'PM2.5',
    10: 'PM10',
    12: 'NOX',
    14: 'O3',
    17: 'As',
    19: 'Pb',
    27: 'BAP',
    28: 'Cd',
    30: 'C6H6',
    62: 'NI'
}

In [47]:
# Crear un diccionario vacío para los nombres de las comunidades
diccionario_comunidades = {}

for index, row in stations_excel.iterrows():
    diccionario_comunidades[row['N_PROVINCIA']] = row['N_CCAA']

diccionario_comunidades

In [48]:
# Crear un diccionario vacío para los nombres de las provincias
diccionario_provincias = {}

for index, row in stations_excel.iterrows():
    diccionario_provincias[row['PROVINCIA']] = row['N_PROVINCIA']

diccionario_provincias

{1: 'ÁLAVA',
 2: 'ALBACETE',
 3: 'ALICANTE/ALACANT',
 4: 'ALMERÍA',
 5: 'ÁVILA',
 6: 'BADAJOZ',
 7: 'BALEARS (ILLES)',
 8: 'BARCELONA',
 9: 'BURGOS',
 10: 'CÁCERES',
 11: 'CÁDIZ',
 12: 'CASTELLÓN/CASTELLÓ',
 13: 'CIUDAD REAL',
 14: 'CÓRDOBA',
 15: 'CORUÑA (A)',
 16: 'CUENCA',
 17: 'GIRONA',
 18: 'GRANADA',
 19: 'GUADALAJARA',
 20: 'GUIPÚZCOA',
 21: 'HUELVA',
 22: 'HUESCA',
 23: 'JAÉN',
 24: 'LEÓN',
 25: 'LLEIDA',
 26: 'RIOJA (LA)',
 27: 'LUGO',
 28: 'MADRID',
 29: 'MÁLAGA',
 30: 'MURCIA',
 31: 'NAVARRA',
 32: 'OURENSE',
 33: 'ASTURIAS',
 34: 'PALENCIA',
 35: 'PALMAS (LAS)',
 36: 'PONTEVEDRA',
 37: 'SALAMANCA',
 38: 'SANTA CRUZ DE TENERIFE',
 39: 'CANTABRIA',
 40: 'SEGOVIA',
 41: 'SEVILLA',
 42: 'SORIA',
 43: 'TARRAGONA',
 44: 'TERUEL',
 45: 'TOLEDO',
 46: 'VALENCIA',
 47: 'VALLADOLID',
 48: 'VIZCAYA',
 49: 'ZAMORA',
 50: 'ZARAGOZA',
 51: 'CEUTA'}

In [49]:
# Crear un diccionario vacío para los nombres de los municipios
diccionario_municipios = {}

for index, row in stations_excel.iterrows():
    diccionario_municipios[row['MUNICIPIO']] = row['N_MUNICIPIO']

diccionario_municipios

{22: 'SANTA LUCÍA DE TIRAJANA',
 36: 'SAN SEBASTIÁN DE LA GOMERA',
 51: 'CALANDA',
 55: 'PALOS DE LA FRONTERA',
 59: 'BUJARALOZ',
 3: 'AMOREBIETA-ETXANO',
 2: 'ABANTO Y CIÉRVANA/ABANTO ZIERBENA',
 9: 'BREÑA BAJA',
 14: 'AMPOSTA',
 31: 'REALEJOS (LOS)',
 65: 'GETAFE',
 66: 'SIERO',
 99: 'CORTES DE PALLÁS',
 105: 'PINOSO',
 133: 'SAN MARTÍN DE VALDEIGLESIAS',
 13: 'BARAKALDO',
 24: 'LALÍN',
 32: 'XINZO DE LIMIA',
 35: 'CUEVAS DEL ALMANZORA',
 902: 'ERANDIO',
 19: 'SAN BARTOLOMÉ DE TIRAJANA',
 15: 'BASAURI',
 16: 'CAMARGO',
 70: 'GUIAMETS (ELS)',
 81: 'ILLESCAS',
 83: 'MÉRIDA',
 158: 'MONZÓN',
 10: 'ALBALAT DELS TARONGERS',
 26: 'TELDE',
 40: 'HERNANI',
 42: 'PONTEAREAS',
 44: 'GETXO',
 46: 'AZUQUECA DE HENARES',
 54: 'OURENSE',
 74: 'LEGANÉS',
 89: 'LOGROÑO',
 96: 'ZALLA',
 101: 'ESCATRÓN',
 102: 'QUART DE POBLET',
 112: 'MANLLEU',
 113: 'MANRESA',
 114: 'MARTORELL',
 121: 'MATARÓ',
 123: 'REUS',
 124: 'MURIEL DE LA FUENTE',
 125: 'HUESCA',
 136: 'MONTORNÈS DEL VALLÈS',
 137: 'MONTSENY',
 157: 'PALLEJÀ',
 169: 'PRAT DE LLOBREGAT (EL)',
 184: 'ONTINYENT',
 187: 'SABADELL',
 194: 'SEGOVIA',
 196: 'SANT ESTEVE DE LA SARGA',
 202: 'SANT CELONI',
 205: 'SANT CUGAT DEL VALLÈS',
 245: 'SANTA COLOMA DE GRAMENET',
 251: 'SANTA MARGARIDA I ELS MONJOS',
 252: 'BARBERÀ DEL VALLÈS',
 259: 'SANTA MARIA DE PALAUTORDERA',
 260: 'SANTA PERPÈTUA DE MOGODA',
 263: 'ZARRA',
 274: 'SALAMANCA',
 279: 'TERRASSA',
 282: 'TIANA',
 283: 'TONA',
 298: 'VIC',
 301: 'VILADECANS',
 305: 'VILAFRANCA DEL PENEDÈS',
 307: 'VILANOVA I LA GELTRÚ',
 18: 'AZPEITIA',
 209: 'SORT',
 219: 'MIRANDA DE EBRO',
 37: 'SANTA CRUZ DE LA PALMA',
 148: 'TARRAGONA',
 182: 'TORIL',
 4: 'ALCANAR',
 6: 'ARONA',
 8: 'ALAGÓN',
 12: 'CÁDIZ',
 20: 'BILBAO',
 28: 'ALGAR DE PALANCIA',
 33: 'SAN ANDRÉS Y SAUCES',
 5: 'ALCOVER',
 80: 'GUARDO',
 84: 'SESTAO',
 93: 'POBLA DE BENIFASSÀ (LA)',
 120: 'PALENCIA',
 126: "VALL D'UIXÓ (LA)",
 129: 'VILLAFRANCA DEL CID',
 135: 'VILLARREAL/VILA-REAL',
 140: 'MOTRIL',
 141: 'ZORITA DEL MAESTRAZGO',
 34: 'DUMBRÍA',
 71: 'MUSKIZ',
 21: 'ARMILLA',
 47: 'CONSTANTÍ',
 68: 'MUNDAKA',
 23: 'VENTA DE BAÑOS',
 30: 'MURCIA',
 41: 'POIO',
 57: 'VIGO',
 78: 'BURJASSOT',
 1: 'CEUTA',
 27: 'DURANGO',
 79: 'MADRID',
 87: 'TORRELAVEGA',
 189: 'VÍZNAR',
 61: 'CAMPISÁBALOS',
 130: 'GUADALAJARA',
 69: 'MARBELLA',
 73: 'USURBIL',
 50: 'JAÉN',
 53: 'NIEBLA',
 60: 'SAN MARTÍN DEL REY AURELIO',
 64: 'GANDESA',
 190: 'PATERNA',
 199: 'SABIÑÁNIGO',
 213: 'SARIÑENA',
 97: 'VILLANUEVA DEL ARZOBISPO',
 25: 'CORRALES DE BUELNA (LOS)',
 38: 'DOS HERMANAS',
 115: 'PONFERRADA',
 134: 'ROBLA (LA)',
 143: 'SANCEDO',
 181: 'VALDERAS',
 119: 'JUNEDA',
 172: 'PONTS',
 224: 'TORMS (ELS)',
 11: 'CANDELARIA',
 117: 'PRADEJÓN',
 58: 'FUENLABRADA',
 7: 'ALCORCÓN',
 45: 'COLMENAR VIEJO',
 49: 'GUILLENA',
 67: 'CASTELNOU',
 92: 'MÓSTOLES',
 161: 'VALDEMORO',
 171: 'VILA-SECA',
 180: 'VILLAREJO DE SALVANÉS',
 107: 'FUNES',
 149: 'PEÑAUSENDE',
 191: 'OLITE',
 201: 'PAMPLONA/IRUÑA',
 216: 'TERUEL',
 232: 'TUDELA',
 39: 'LAZA',
 225: 'VILLAMURIEL DE CERRATO',
 17: 'ALZIRA',
 177: 'MAÍLLO (EL)',
 48: 'VALVERDE',
 75: 'ÍSCAR',
 86: 'TOJOS (LOS)',
 88: 'SAN NICOLÁS DEL PUERTO',
 91: 'SEVILLA',
 173: 'SORIA',
 103: 'PERAFORT',
 162: "VANDELLÒS I L'HOSPITALET DE L'INFANT",
 77: 'CEROLLERA (LA)',
 153: 'SAN PABLO DE LOS MONTES',
 165: 'TALAVERA DE LA REINA',
 168: 'TOLEDO',
 200: 'YÉBENES (LOS)',
 62: 'BENIGÁNIM',
 95: 'CAUDETE DE LAS FUENTES',
 131: 'GANDIA',
 220: 'SAGUNTO/SAGUNT',
 242: 'TORREBAJA',
 244: 'TORRENT',
 250: 'VALENCIA',
 256: 'VILAMARXANT',
 258: 'VILLAR DEL ARZOBISPO',
 85: 'MEDINA DEL CAMPO',
 104: 'OLMEDO',
 186: 'VALLADOLID',
 82: 'SANTURTZI',
 904: 'SONDIKA',
 913: 'ZIERBENA',
 275: 'ZAMORA',
 297: 'ZARAGOZA'}

In [50]:
# pollutants['MAGNITUD'] = pollutants['MAGNITUD'].map(measured_dict)
# pollutants['MUNICIPIO'] = pollutants['MUNICIPIO'].map(diccionario_municipios)
# pollutants['PROVINCIA'] = pollutants['PROVINCIA'].map(diccionario_provincias)

In [54]:
pollutants.head(3)

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,H01,H02,H03,H04,H05,H06,H07,H08,H09,H10,H11,H12,H13,H14,H15,H16,H17,H18,H19,H20,H21,H22,H23,H24,FECHA
2,1,59,8,30,0.16,0.16,0.18,0.18,0.14,0.15,0.22,0.18,0.16,0.18,0.18,0.13,0.17,0.11,0.17,0.18,0.19,0.25,0.25,0.28,0.25,0.20,0.20,0.22,2022-01-04
3,1,59,8,30,0.23,0.26,0.22,0.20,0.21,0.23,0.28,0.31,0.34,0.40,0.35,0.29,0.27,0.30,0.48,0.33,0.45,0.58,0.57,0.51,0.51,0.51,0.48,0.41,2022-01-05
4,1,59,8,30,0.36,0.31,0.32,0.33,0.32,0.33,0.33,0.37,0.54,0.45,0.37,0.32,0.30,0.28,0.30,0.26,0.29,0.36,0.43,0.32,0.32,0.30,0.30,0.28,2022-01-06
5,1,59,8,30,0.25,0.24,0.25,0.26,0.32,0.32,0.28,0.25,0.30,0.27,0.30,0.39,0.28,0.23,0.28,0.29,0.28,0.32,0.31,0.23,0.25,0.29,0.29,0.28,2022-01-07
6,1,59,8,30,0.25,0.25,0.23,0.23,0.32,0.29,0.23,0.28,0.55,0.34,0.36,0.28,0.27,0.27,0.25,0.20,0.23,0.25,0.25,0.23,0.20,0.22,0.22,0.19,2022-01-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
819608,51,1,1,1,1.53,1.33,1.58,1.41,1.43,2.88,1.76,1.51,1.42,1.44,1.55,1.41,1.65,1.88,2.22,2.43,3.32,6.62,19.11,17.15,8.29,29.35,24.51,24.16,2022-12-13
819609,51,1,1,1,1.64,1.50,1.47,1.44,1.58,1.38,1.12,1.22,1.46,1.18,1.37,2.75,8.84,15.18,15.03,25.54,12.58,38.78,17.84,8.01,11.66,3.28,5.70,5.62,2022-12-16
819610,51,1,1,1,2.30,2.15,2.17,2.05,1.82,1.74,1.85,2.48,2.71,3.53,3.34,2.98,2.99,2.44,2.72,2.27,2.07,2.00,1.79,1.65,1.68,1.39,1.30,1.28,2022-12-25
819611,51,1,1,1,1.40,1.22,1.22,1.11,1.04,1.16,1.15,1.23,1.18,1.43,1.65,1.91,2.09,2.99,3.31,3.77,2.82,2.47,2.79,2.77,2.66,2.51,2.42,2.52,2022-12-26
819612,51,1,1,1,1.68,1.40,1.52,1.66,1.53,1.57,1.48,1.40,2.78,2.35,2.17,2.26,2.35,2.11,1.88,1.71,1.66,1.70,1.58,2.12,1.61,1.57,1.88,1.62,2022-12-28

In [52]:
# pollutants_clean = pollutants.dropna()
# pollutants_clean


#pollution_madrid[pollution_madrid['fecha'] == 2023]


# pollution_madrid['fecha'] = pd.to_datetime(pollution_madrid['fecha'], format='mixed')
# pollution_madrid.head()


# fecha_inicio = pd.to_datetime('23-01-01', format='%y-%m-%d')
# fecha_fin = pd.to_datetime('23-12-31', format='%y-%m-%d')
# df_filtrado = pollution_madrid[(pollution_madrid['fecha'] >= fecha_inicio) & (pollution_madrid['fecha'] <= fecha_fin)]


# columnas_a_modificar = ['h01', 'h02', 'h03', 'h04', 'h05', 'h06', 'h07', 'h08', 'h09', 'h10', 'h11', 'h12', 'h13', 'h14', 'h15', 'h16', 'h17', 'h18', 'h19', 'h20', 'h21', 'h22', 'h23', 'h24']
# for columna in columnas_a_modificar:
#     pollution_madrid[columna] = pollution_madrid[columna].str.replace(',', '.').astype(float)

# total_null = pollution_madrid.isnull().sum().sum()


# for file, df in files_csv.items():
#     total_nan = df.isna().sum().sum()
#     print(f'{file}: {total_nan} NaNs')
# all_nan_rows = df[df.isna().all(axis=1)]

#Para filtrar por filas con todos sus valores NaN:
# rows_nan = 0

# for index, row in pollutants[data_nan].iterrows():
#     value_nan = row.isna().sum()
#     rows_nan += 1
#     print(f'row{index} have {value_nan} NaN value')

# print(f'Total rows with ')


# columnas_a_modificar = ['LATITUD_G', 'LONGITUD_G']

# for columna in columnas_a_modificar:
#     # Aplicar la operación solo a los elementos de tipo string
#     condicion = stations_excel[columna].apply(lambda x: isinstance(x, str))
#     stations_excel.loc[condicion, columna] = stations_excel.loc[condicion, columna].str.replace(',', '.').astype(float)

# columnas_a_modificar = ['LATITUD_G', 'LONGITUD_G']
# for columna in columnas_a_modificar:
#     stations_excel[columna] = stations_excel[columna].str.replace(',', '.').astype(float)